<%- include('./layout/Header') %>
<%- include('./layout/Navbar') %>
    <div class="showcase">
        <h1>About <span class="color-text">EJS</span></h1>
        <p>Backend made with Express</p>
        <p>Version 1.0</p>
        <a href="">Open it</a>
    </div>
<%- include('./layout/Footer') %>