<%- include('./layout/Header') %>
<%- include('./layout/Navbar') %>
    <div class="showcase">
        <h1>Home page with <span class="color-text">EJS</span></h1>
        <p>Application made with Express</p>
        <!-- <p><%= myVariable %></p>
        <a href="">Open it</a> -->
    </div>
<%- include('./layout/Footer') %>